/* .cart-home{
  display: flex;
  
     height: 100vh;
  width: 98%; /* Adjust width for smaller screens */
  /* max-width: 3000px; Limit maximum width */
  /* border: 0px solid #61B846;
  border-radius: 30px;
  margin: 1% 1%; 
  text-align: center;
  box-shadow: 0 0 20px #61B846;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */


h3 {
  display: inline;
    font-size: 50px; /* Adjust font size */
    margin-top: 50px; 
    padding-left: 80px;
    font-weight: bolder;
    color: #56a43f;
  }
  
  h5 {
    font-size: 20px; /* Adjust font size */
    color: #024F9D;
    font-weight: bolder;
    padding-left: 80px;
    text-align: left;
  }


  .cart-img {
    
    width:8% ;
    height: 20%;
    float: right;
    padding-right: 3%;
    margin-top: 2%;
    max-width: 300px;
    
}
.grocery-pic{
  display: flex;
  width: 80%;
  margin: 50px auto;
  border-radius: 25px;

}

.card-img-top{

 width: 40%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid rgb(22, 151, 22);
  border-radius: 25px 25px !important; 
  margin-top: 5%;
  
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0; */

  
}
.card-title{
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: #56a43f;
  padding-left:1px ;
}

.mb-3{
margin-left: 30%;
width: 50%;


}


.navbar{
  height: 10%;
}
.bottext{
  color: wheat;
  margin: 25% ;
padding: 50px;
  
}

.plus{
  width: 20%;
  float: right;
  border-radius: 10%;
  font-weight: 900;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ccc{
  color: #000;
/* text-align: left; */
margin-left: 5%;
margin-top: 5%;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 208.333% */
}
.card-text{
  color: #BFBFBF;
/* font-family: Inter; */

font-size: 12px;
font-weight: bolder;
/* font-weight: 400; */
line-height: 500%;  /* 100% */
margin-left:10% ;
}
.img-fluid{
  border-radius: 15px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.374);
margin: 8% ;
}







 .hry{
  margin:  60px;
  padding-left: 15%;
  
 }





 @media (max-width: 768px) {
  
 .hry{
  margin:  30px;
  padding-left:2%;
  
 }
 }
 @media (max-width: 560px) and (min-width: 760px) {
  .hry{
    margin:  60px;
    padding-left: 15%;
    
   }
}



































@media (max-width: 768px) {
  /* Adjust styles for screens up to 768px wide */
  h3 {
      font-size: 30px;
      padding-left: 20px;
  }

  h5 {
      font-size: 18px;
      padding-left: 20px;
  }

  .cart-img {
      width: 15%;
      height: auto;
      float: right;
      padding-right: 2%;
      margin-top: 2%;
      max-width: 100px;
  }}









  
